.App {
  text-align: center;
  margin: 300px auto;
  width: 500px;
}

.ant-list{
  text-align: left;
}

.ant-list-item:hover{
  background: rgba(0, 0, 0, 0.03);
}

.ant-list-item.selected{
  color: #fff;
  background: #1264a3;
}

.ant-list-item{
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
